*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #203354;

}

#hjemInfo{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: white;
}

#søkefelt{
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#inntast{
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #152238;

}

#søkeknapp{
    padding: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #152238;
    color: white;
}